body {
    text-align: center;
    margin: 0px;
    font-family: 'Josefin Sans', sans-serif;
}

header {
    background-color: tan;
    padding-bottom: 20px;
    padding-top: 20px;
    border-style: double;
    border-width: 4px;
    border-color: #000000;
    font-size: 50px;
}

h1 {
    font-size: 30px;
}

table.center {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    
}

#appendTable {
    width: 60%;
    background-color: tan;
    border: 1px solid black;
    margin-top: 20px; 
    padding-top: 10px;
}


#submitButton {
    margin-top: 20px;
    transition-duration: .5s
    background-color gray;
    font-size: 17px;
}

#submitButton:hover {
    transition-duration: .75s;
    background-color: rgb(178, 201, 237);
}

#appendTableTop {
    text-decoration-line: underline;
}

input {
    opacity: 60%;
}

.appendTableBottom {
    border: 1px solid black;
}

#appendTable {
    padding-bottom: 10px;
}

#totalTable {
    padding-top: 20px;
}

.costOut {
    font-size: 20px;
}

.overTwentyK {
    background-color: tomato;
}

footer {
    /* background-color: rgb(221, 230, 244); */
    padding-top: 1px;
    padding-bottom: 1px;
    /* border-style: double; */
}

#copyrightLine {
    font-size: 13px;
    margin-bottom: 5px;
    color: gray;
}

#vsCodeAcknowledgement {
    font-size: 12px;
    margin-top: 0px;
    color: rgb(187, 187, 187);
}